<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Compras</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="header-container">
            <h1 class="logo" onclick="window.location.href='/index.html'">Sweet Market</h1>
            <div class="search-bar"> <input type="text" placeholder="Buscar productos...">
                <button type="button">Buscar</button>
            </div>
        </div>
    </header>

    <div class="sub-header">
        <div class="sub-header-container">
            <nav id="menu-usuario" class="user-menu"></nav>
        </div>
    </div>

    <main class="container compras-page">
        <section class="compras-box">
            <h2 class="compras-title">Mi Historial de Compras</h2>
            <div id="lista-compras" class="compras-list"></div>
        </section>
    </main>

    <script src="../js/compartido/sesion.js"></script>
    <script src="../js/productos/compras.js"></script>
</body>

</html>